body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}

.header{
background:#d62828;
color:white;
padding:30px;
text-align:center;
}

.container{
display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
padding:20px;
}

#menu-grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
gap:15px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,.2);
}

button{
background:#d62828;
color:white;
border:none;
padding:10px;
width:100%;
cursor:pointer;
border-radius:8px;
}

.pedido{
background:white;
padding:20px;
border-radius:10px;
}

input{
width:100%;
padding:10px;
margin-bottom:10px;
}